# REPLACE THE VALUES BELOW WITH YOUR ACTUAL KEYS IF NOT AUTOMATICALLY SET
JPS_PIN=0000

# OFFICE LOCATION CONFIGURATION
NEXT_PUBLIC_OFFICE_LATITUDE=
NEXT_PUBLIC_OFFICE_LONGITUDE=
NEXT_PUBLIC_OFFICE_RADIUS=50
NEXT_PUBLIC_OFFICE_NAME=

# AUTHORIZED OFFICE WI-FI PUBLIC IP (Set to 127.0.0.1 for local/offline testing)
JPS_OFFICE_IP=127.0.0.1
